.navigation__button-login,
.navigation__button-register {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    height: 44px;
    width: 132px;
    cursor: pointer;
}

.navigation__button-login {
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
    background: #fff;
}

.navigation__button-register {
    background-color: #FB8F1D;
    color: #FFFFFF;
    border: none;
}

.navigation__header {
    display: flex;
    align-items: center;
    gap: 35px;
}

.head__logo {
    height: 41px;
    width: 41px;
    transition: transform 0.3s;
}

.head__logo:hover {
    transform: scale(1.2);
}

.head {
    background-color: #FFFFFF;
}

.head__content {
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.navigation__list a {
    text-decoration: none;
    color: #B8BECD;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding: 10px;
    cursor: pointer;
}

.navigation__list-item.activeItem a {
    color: #202336;
    font-weight: 500;
}

.navigation__list a:hover {
    color: #202336;
}
