@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mulish&family=Playfair+Display:wght@700&display=swap');
@import url(header.css);
@import url(section1.css);
@import url(section2.css);
@import url(footer.css);
@import url(hero.css);
@import url(media_screen.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.container {
    max-width: 1415px;
    margin: 0 auto;
    padding: 0 15px;
}


